body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Fresca,Verdana;

    /*background-image:url('../images/system/blueleaves.png');
         background-color:#1782b9;*/
    /*background-image:url('../images/system/bluestripe1.png');*/
}
div.content {
    /*height: 100%;*/
    height:100vh;
}

div.spacer {
    height: 10px;
}

.km-view-title, .km-footer {
    display: none !important;
}

/*FONTS, LINKS, BUTTONS*/

.k-ff input.k-button {
padding-top:0.1em;

}

a{
    
    color:#336699;
    text-decoration:none;
    border-bottom:dotted 1px #d5d5d5;
}

a:hover{

    color:#ffbc03;
    text-decoration:none;
    border-bottom:dotted 1px #80b45c;
    cursor:pointer;
}

 .arrows {
    margin-top:10px;
border-bottom:none !important;
}


   .arrows.left {
    float:left;
    }

    .arrows.right {
    float:right;
    }

#socialLinks{

}


#header {
    position:relative;
min-height:75px;
background-color:#a0d47c;

/*background-color:#ffffff;*/
width:100%;
box-shadow:  0px 10px 27px rgba(80,80,80,.35) ;
 background-image:url('../images/system/grass-masked.png');
 background-position:bottom;
 background-repeat:repeat-x; 
}

#menuBlock{


}

#header .title{
    /* position:absolute;
     left:27%;
     top:15px;*/
    position:relative;
    float:left;
    margin-left:2%;
    margin-top:12px;
    margin-bottom:25px;
     font-family:Skranji,Verdana;
    font-size:35px;

    text-align:center; 
    color:#3f370d;
}

#titleAccent {

position:absolute;
right:-45px;
top:25px;
}

#titleAccent img{
    height:40px;

}



#optionAccent {

position:absolute;
left:-72px;
top:-5px;
}

#optionAccent img{
    height:60px;

}

#mainMenu {
   /* position:absolute;
       left:2%;
        box-shadow: 0px 8px 10px rgba(255,255,255,0.6);
       */
   float:left;
   margin-left:4%;
   /* width:420px;*/
   border:none;
   border-radius:5px; 
  margin-top:15px;
}

#options{
   /* position:absolute;
    right:50px;*/
   display:none;
   position:relative;
   float:right;
    margin-top:15px;
    margin-right:20px;
    margin-bottom:15px;
}

#options input{
    height:30px;

}

#banner{
     position:relative;
margin-left:15%;
    width:70%;


}

    #banner .title {
        position:absolute;
        width:90%;
        top:10%;
        left:5%;
    font-family:Skranji,Verdana;
    font-size:5.0em;
    text-align:center;
   
    color:#3f370d;
  
    }


    #banner img{
    width:100%;
    display:block;
    padding:0px;
    margin:0px;
    }


    #mainContent{
         position:absolute;
    /*margin-left:6%;*/
    height:100%;
    width:100%;
    background-color:#ffffee;
    /*padding:0% 2% 2% 0%;*/
     font-family:Fresca,Verdana;
      border:solid 1px #bbbbbb;
      overflow:hidden;
      
     
    }

#bkgrdLayer {
    box-sizing:border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
   
}

#bkgrdLayer img {
    margin:0px;
    padding:0px;

    /*display:inline-block;*/
   
}

.army {
    position:absolute;
    z-index:999999;
background-color:#336699;
border-radius:50%;
width:30px;
height:30px;
box-sizing:border-box;
padding:5px 8px 5px 9px;
color:#fff;

}
    .army:hover {
    cursor:move;
    }

    .army.hollow {
        background-color:#eeeeee;
        opacity:.75;
    }
    
    .city {
        position: absolute;
        z-index: 9999;
        background-color: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-sizing: border-box;
        padding: 13px 8px 5px 8px;
        opacity: .8;
        font-weight: bold;
        
    }

.depot {
    position: absolute;
    z-index: 19;
    background-color: #07650c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 7px 0px 0px 10px;
    opacity: 1;
    font-weight: bold;
    font-size:18px;
    color:#fff;
}

.army-route {
position:absolute;
z-index: 999;
/*background-color:yellow;*/
width:100%;
height:100%;
pointer-events:all;
}

    .army-route path {
stroke-dasharray:15,8;
    }
    
    
    
    #mainContent .heading {
        font-size: 1.5em;
        text-align: left;
        background-color: #82682b;
        padding: 0.5%;
        width: 250px;
        color: #ffffff;
        border-bottom-right-radius: 7px;
    }

     .subHeading{

           font-size:1.45em;
       margin-bottom:10px;
       margin-top:15px;  
       color:#336699;
     }

     .lessonItem{
         clear:both;
         margin:15px 0px 15px 0px;
         padding-bottom:15px;
         border-bottom:dotted 1px #336699;

     }

        .lessonItem input {
        margin-top:4px;
        
        }

     .lessonItem img{

         height:140px;
         float:left;
         margin-right:20px;
         margin-bottom:15px;
     }

.lessonTitle {
font-size:1.2em;
font-weight:bold;
margin-bottom:5px;
margin-top:5px;

}

.lessonDesc {

font-size:0.8em;
}


.comingsoon {

margin:25px;
color:#336699;
font-size:1.3em;
font-weight:bold;
 padding-bottom:15px;
         border-bottom:dotted 1px #336699;

}

.leftContent{

    margin:50px 20px 20px 0px;
}

    /*MAIN CONTENT - HOME PAGE*/

    #mainContent.home{
        text-align:center;
        margin-left:15%;
        width:50%;
         padding:2% 10% 5% 10%;
            font-size:2.5em;
          overflow:hidden;
    }


#mainContent.login {

 text-align:center;
        margin-left:15%;
        width:50%;
         padding:2% 10% 5% 10%;
          
          overflow:hidden;

}

     #mainContent.home .text.main{

         position:relative;
         z-index:10;
     }



    #mainContent.home .animal{

        position:absolute;
    }


    #mainContent.home .animal img{
     
     /*    width:60%;*/
         
     }

 #mainContent.home .animal.left{

     bottom:25%;
     left:5%;

 }

  #mainContent.home .animal.center{

     bottom:-40px;
     left:37%;

 }

 #mainContent.home .animal.right{

     bottom:23%;
     right:7%;

 }



 /*CONTENT PANELS*/

#contentPanels {

    margin:1% 0% 2% 2%;
 
   
}

#leftPanel{
    position:relative;
    width:20%;
    min-width:175px;
    margin-bottom:20px;
float:left;


}

#centerPanel{
position:relative;
float:left;
width:76%;
/*height:100%;
min-height:250px;*/
}

#loginContent.home .formText {
font-size:1em !important;
}


/*FORMS*/

.login .inputBlock {

float:left;
margin-right:15px;
}

.login .inputBlock input[type="button"] {

    margin-top:20px;
}

.feedbackForm .inputBlock{

   
    margin-right:15px;
    width:85%;
    margin-top:15px;

}

.feedbackForm .inputBlock .labelContainer{
position:relative;
min-height:40px;
vertical-align:bottom;
}

.feedbackForm .inputBlock label{
    width:90%;
    position:absolute;
    bottom:0px;

}

.feedbackForm .inputBlock input[type='text']{

    width:90%;

}

.feedbackForm .inputBlock textarea{

    width:90%;
}

.padtop {
padding-top:22px;
}


    /*content creation forms*/

    .k-widget.k-notification.k-notification-success{
        border-color:transparent !important;
          background-color:#07650c;
        border-width:0px;
    }
    .alertSuccess{
       padding:20px;
       
       width:200px;
      text-align:center; 
        background-color:#07650c;
        color:#ffffff;

    }

     .alertError{
       padding:20px;
       
       width:200px;
      text-align:center; 
        background-color:#990000;
        color:#ffffff;

    }

.icon{
    margin-left:auto;
    margin-right:auto;
  /*  margin-left:-15px;*/
    margin-top:-20px;
}


#refresh {
display:none;
position:absolute;
color:#ffbc03;
}
.alertText{
    
    margin-top:10px;
    text-align:center;
}

        .alertSuccess .fa {
       padding-top:15px;
             }

    .inputPanel{
        width:95%;
        overflow:visible;
    }

.cc .newBlock{
    clear:both;
}


.cc .inputBlock{

   
    margin-right:15px;
    width:20%;
    min-width:150px;
    max-width:400px;
    margin-top:15px;
float:left;
margin-left:15px;
}

.cc .inputBlock .labelContainer{


vertical-align:bottom;
}

.cc .inputBlock label{
    width:90%;
    position:absolute;
    bottom:0px;

}

.cc .inputBlock input[type='text'],.cc .inputBlock select{

 width:95%;  

}

.cc .inputBlock.msList{
    min-width:275px;
}

.cc .small {
font-size:.8em;
font-style:italic;
}


.cc .inputBlock.max{

   
    width:100%;
    max-width:1500px;
}

.cc .inputBlock.max input{

    width:100%;
}
    .cc .inputBlock textarea {
    width:100%;
    height:150px;
    }



/*LESSONS*/

.lessonButton{

    margin:25px;
}


 /*FOOTER*/

    #footer{
        padding:20px;
          position:relative;
          text-align:center;
          font-family:Verdana;
          font-size:1em;
        min-height:100px;
        width:100%;
  color:#202020;
   
    box-shadow:  0px -10px 27px rgba(80,80,80,.35) ;
       
background-color:#80b45c;
    }

    #copyright{
        width:100%;
        text-align:center;
       margin-top:25px;
        top:20px;
        color:black;
        font-size:11px;
    }

    .notice{
        padding:10px 35px 10px 10px;
        font-size:0.85em;
        font-style:italic;

    }

    .linkSection{
        margin:20px;
        font-size:1.2em;
        
    }

.linkSection li {
    list-style:square;
}

    .lessonLinks{

        margin-left:30px;
    }

    #wordList,#wordImageList{

        display:none;
    }

    #inpVocabImgList{
        background-color:transparent;
        border:none;

    }



.vocabHeader {

    font-size:1.2em;
    min-height:30px;
    /*background-color:#d7ddf2;*/
    background-color:#e0e0c0;
    border-radius:10px;
    margin:10px;
    padding:15px;

}

.checklistItem {
margin-right:15px;

}

.vocabHeader .word{
    font-weight:bold;
    margin-right:20px;
}

.vocabHeader .edit,.vocabHeader .save,.vocabHeader .delete{
    margin-left:15px;
    float:right;
    font-size:1.35em;
}

.edit:hover,  .save:hover,  .delete:hover {
    cursor:pointer;
    color:#80b45c;

}

.vocabItem {
    display:none;
clear:both;
margin:20px;
border:solid 2px #336699;
border-radius:10px;
padding:20px;
}


.vWord{
    clear:both;
    width:95% !important;
    max-width:350px;
}

    .vWord.vocabText {
     
    }

.vocabItem img  {
padding-top:20px;
height:80px;
}


.mainToolbar {

background-color:#e0e0c0;
padding:10px 10px 10px 10px;
border-radius:10px;
}

.vocabToolbar{

    width:90%;
   
   margin:0px 15px;
   background-color:#e0e0c0;
   padding:10px;
   border-radius:10px;
    }

#vocabToolbar .leftBlock {
    width:150px;
}

#libWrapper,#defLibWrapper {
    position:fixed;
    right:0px;
    top:0px;
    z-index:50;
background-color:#ffffff;
padding:20px;
margin-left:20px;
border:none;
border-left:solid 3px #336699;
width:200px;
height:98%;
overflow-y:hidden;
overflow-x:hidden;
display:none;
}




#imgLibrary, #defLibrary {
height:88%;
overflow:hidden;

}

#libSearchFilter {
text-align:right;
margin:10px;

}

    #libSearchFilter:hover {
    
    cursor:pointer;

    }

.imgLibItem {
    position:relative;
    padding-top:15px;
padding-bottom:10px;
padding-left:15px;
border-bottom:dotted 1px #505050;
}


.btnDelete {
position:absolute;
right:2px;
top:2px;

font-size:1.2em;
background-color:#eaeaea;
border:solid 2px #202020;
border-radius:25px;
width:22px;
text-align:center;

}

#btnAddNewList, #btnUpdateList, #btnUpdateListTop, #btnDeleteList,#btnUpdateGroup,#btnDeleteGroup,#btnAddNewGroup,#btnUpdateGroupTop {
display:none;
}


#listForm, #groupForm{
    display:none;
}
    .btnDelete:hover {
    
        cursor:pointer;
    
    }

.imgLibItem img{

    height:100px;
}

.leftBlock {

    float:left;
    margin-right:15px;

}

.rightBlock {

    float:right;
    margin-right:15px;

}

.rightBlock.inp {

    width:175px;

}

.leftBlock.inp {

    width:auto;
    

}

    .leftBlock.wide {
    
    width:350px;
    }

.btnBlock {
    width:200px;
    float:left;
    margin-right:15px;
    margin-top:10px;

}

.btnBlock input{

    margin:5px;
}
.btnAddNew {
    width:200px;
   margin:20px;

}

#inpDefinition {
height:100px;
}

.inpLabel {

margin-top:10px;

}

/*LOG-IN FORMS*/


.login .labelContainer{

    text-align:left;
}

.login .main {
font-size:1.3em;

}

.login .newUserForm{
    display:none;
}


.mailingList .formText{

clear:both;
margin-top:15px;
}


.mailingList .newBlock{

    clear:both;

}

.mailingList .inputBlock{

   margin-top:15px;
   min-width:250px;

}


.mailingList .centerBlock {
  width:85%;
margin-left:auto;
margin-right:auto;
margin-bottom:15px;
margin-top: 15px;
}


.mailingList .sectionHeader{
  margin-top:10px;
  border-top:dotted 1px #505050;
   padding-top:10px; 
}

.mailingList .offer{
    display:none;
margin-top:15px;
margin-bottom:15px;
padding:15px;
width:auto;
    background-color:#ffffff;
    border:solid 1px #ffcc99;
    border-radius:7px;

}


.mailingList .offer img {
    height:210px;
    float:left;
    margin:15px;
}

.mailingList .offerContent{
    font-size:1.25em;
    text-align:left;
    margin-top:15px;
}

.mailingList .offer .right {
    width:50%;
    float:left;
    margin:15px;
}

#unsubscribe{

    display:none;
}

.mailingList #editForm{

    display:none;
}


.reset {
clear:both;
}

.centerBlock {
    width:500px;
margin-left:auto;
margin-right:auto;
margin-bottom:15px;
margin-top: 15px;
}

.clear {
clear:both;
}